.Weather {
    font-family: "Nunito", sans-serif;
    border: 1px  solid #dadde1;
    padding: 16px;
    border-radius: 4px;
    color: black
}

.Weather h1 {
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    margin: 20px 0 0 0;
   
}

.Weather ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    
}

.Weather img {
    height: 80px;
    margin-right: 10px;
    display: inline-block;
    width: 80px;
}

.Weather .temperature{
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    
}

.Weather .units {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 200;
    position: relative;
    top: -32px;
    margin-left: 5px;
    line-height: -1;

}

.Weather .float-left {
    float: left;
  }
  
  .Weather .btn {
    background-color: #453f76;
    color: white;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  .Weather .btn:hover {
    background-color: white;
    color: rgb(33, 33, 33);
  }
  
  .WeatherForecastIcon {
    height: 55px;
    width: 55px;
  }
  
  .Weather .btn {
    background-color: #3679d1;
    color: white;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  
  .Weather .btn:hover {
    background-color: white;
    color: rgb(33, 33, 33);
  }
  
  .WeatherForecastIcon {
    height: 55px;
    width: 55px;
  }